# https://coverage.readthedocs.io/en/stable/config.html

[run]
relative_files = True

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    # Don't complain if tests don't hit defensive assertion code
    raise AssertionError
    raise NotImplementedError
    raise RuntimeError
    raise ValueError

    # Don't complain if non-runnable code isn't run
    if __name__ == .__main__.:
    # main\(

    # Ignore unused conditionals
    pass
